body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222222 !important;
}

ul {
  list-style-type: none;
}

.content_wrapper {
  width: 85%;
  height: auto;
  position: relative;
  margin: auto;
  padding-top: 10px;
}