body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222222 !important;
}

ul {
  list-style-type: none;
}

.content_wrapper {
  width: 85%;
  height: auto;
  position: relative;
  margin: auto;
  padding-top: 10px;
}

.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  width: auto;
  height: auto;
}

.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.item img {
  visibility: hidden;
}